.side-items_left,
.side-items_right {
    width: 50%;
}

 .banner {
    padding-top: 80px;
}

.example-banner_side {
    display: flex;
    /* padding-top: 104px; */
}

.side-items_left {
    margin: auto;
}

.side-items_right {
    display: flex;
}

.title-items {
    width: 75%;
    margin: auto;
}

.title-items .content-slogant {
    font-family: 'SF UI Text',sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 150%;
    color: var(--black);
}

.title-items .content-sentence {
    font-family: 'SF UI Text', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--grey);
}

.title-review h3 {
    font-family: 'SF UI Text',sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
}

.img-items {
    /* display: flex;
    justify-content: center; */
    margin-left: auto;
    /* margin-right: auto; */
}

#slogant {
    font-family: 'SF UI Text',sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: var(--black);
}

.items-small {
    font-family: 'SF UI Text',sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #653FD5;
}

.option-items_1 li{
    font-family: 'SF UI Text', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #5B5E71;
    list-style: unset;
}

.items__review {
    font-family: 'SF UI Text', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--black);
    text-align: center;
}

.mocha-ads{
    display: flex;
    padding-top: 58px;
}

.col-sm-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-sm-4 img {
    margin: auto;
}

.col-sm-4 h4{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    text-align: center;
    color: var(--purple);
}

.col-sm-4 p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--black);
    margin: auto;
    margin-top: 0;
    width: 50%;
}

.col-sm-4 span {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: var(--purple);
}

.table {
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.container table {
    width: 100%;
}

.container table tr td,th {
    padding: 20px;
}

.check {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}
.table tr {
    padding: 20px !important;
}

.table #th {
    text-align: center;
}

.table .text-table {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);
}

.basic {
    background: var(--white) !important;
    color: var(--black);
    border: 1px solid #E3E7EC;
    border-radius: 6px;
}

.premium {
    color: var(--white) !important;
}
tr:last-child {
    border: none; 
}

/* td:last-child {
    box-shadow: 0px 4px 48px rgba(27, 37, 69, 0.09);
    border-radius: 23px;
} */


table {
    border-collapse: separate;
    background-color: transparent;
    border-spacing: 0;
}
  
td {
    padding: 1em;
    background: #fff;
}

td:last-child {
    box-shadow: 0 0.5rem 0.5em rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
}

tbody tr:first-child td:last-child {
    box-shadow: 0 -0.5rem 0.5em -0.25rem rgba(0, 0, 0, 0.7),
        0 0.5rem 0.5em rgba(0, 0, 0, 0.7);
}

.main-information__ads {
    text-align: center;

}
#item_main-infor {
    padding: 10px;
}                  

@media screen and (max-width: 800px){
    .container {
        max-width:  689px;
        width: 100% !important;
        margin: auto !important;
    }

    .banner .example-banner_side {
        display: flex;
        flex-direction: column;
    }

    .banner  .side-items_right {
        width: 100% !important;
        margin: auto;
    }
    
    .banner .example-banner_side .side-items_left {
        width: 100%;
        text-align: center;
    }

    .banner .example-banner_side .side-items_right {
        margin: auto;
        width: unset !important;
    }
    
    .review .example-banner_side {
        display: flex;
        flex-direction: column;
    }

    .example .side-items_left {
        width: 100%;
        text-align: center;
    }

    .example .side-items_right {
        margin: auto;
        width: unset;
        text-align: center;
    }

    .banner .example-banner_side:nth-child(3) .side-items_right {
        text-align: center;
        width: 100%;
    }

    .services .mocha-ads{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services .mocha-ads {
        padding: 30px;
    }

     .mocha-ads .col-sm-4 {
        padding-top: 20px;
    }

     .mocha-ads .col-sm-4 p {
        width: 100%;
    }

    .table {
        overflow-x: auto;
    }
}  

